<!--
Template para adicionar notas. Este template só pode ser acessado por professores e contém um formulário onde os professores podem adicionar notas para um aluno específico.
-->

{% extends 'classroom/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
<div class="jumbotron">
  {% if marks_given %}
  <h1>Notas adicionadas com sucesso.</h1>
  {% else %}
  <h1>Dar Notas para {{ student.name }}</h1>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-danger" name="" value="Adicionar Notas">
  </form>
  {% endif %}
</div>
</div>
{% endblock %}
