{% extends 'classroom/base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">
{% if teacher.teacher_assignment.count == 0 %}
  <h2>Nenhuma Tarefa Enviada Ainda</h2>
{% else %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome da Tarefa</th>
        <th scope="col">Data de Envio</th>
        <th scope="col">Baixar</th>
        <th scope="col">Atualizar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in teacher.teacher_assignment.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ assignment.assignment_name }}</td>
          <td>{{ assignment.created_at }}</td>
          <td><a href="{{ assignment.assignment.url }}" class="btn btn-primary" target="_blank">Baixar</a></td>
          <td><a href="{% url 'classroom:update_assignment' id=assignment.id %}" class="btn btn-primary">Atualizar</a></td>
          <td><a href="{% url 'classroom:assignment_delete' id=assignment.id %}" class="btn btn-danger">Deletar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>
</div>
{% endblock %}
