{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="banner">
  <img src="{% static 'images/first.PNG' %}" alt="">
  <div class="content">
    <h1>Gerenciador de Turmas</h1>
    <p>Um Portal para Alunos e Professores</p>
  </div>
</div>

<div class="about">
  <h1>Sobre Nós</h1>
  <p>O Gerenciador de Turmas é um portal para alunos e professores com várias funcionalidades de sala de aula, como o envio de tarefas, submissões, Avisos de Turma e muito mais. Alunos e Professores podem fazer login no portal e experimentar uma sala de aula interativa online.
  Uma das características mais poderosas do Gerenciador de Turmas é sua capacidade de gerenciar alunos. O Professor pode gerenciar facilmente seus alunos e mantê-los atualizados sobre todas as atividades da turma.</p>
</div>

<div class="use-content">
  <h1>Nossos Serviços</h1>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="box">
        <div class="imgBx">
          <img src="{% static 'images/teacher.PNG' %}" alt="">
        </div>
        <div class="content">
          <h3>Para Professores</h3>
          <ol>
            <li>Os professores podem adicionar alunos à sua turma através da opção Adicionar Aluno.</li>
            <li>Após adicionar alunos à turma, o Professor pode dar ou editar as notas dos alunos.</li>
            <li>Os professores também podem escrever avisos que serão enviados a todos os alunos da turma.</li>
            <li>Os professores podem enviar tarefas através da opção de envio de tarefas.</li>
            <li>O Professor pode verificar a submissão de tarefas dos alunos e atribuir notas conforme necessário.</li>
            <li>Os alunos podem enviar mensagens diretamente aos professores e suas mensagens podem ser visualizadas na Caixa de Entrada.</li>
            <li>O Professor também pode verificar todas as notas dadas a um aluno acessando seu Perfil de Notas e pode editar essas notas.</li>
            <li>O usuário pode adicionar uma foto de perfil através da opção editar perfil.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="box">
        <div class="imgBx">
          <img src="{% static 'images/homeimg.PNG' %}" alt="">
        </div>
        <div class="content">
          <h3>Para Alunos</h3>
          <ol>
            <li>Os alunos podem fazer login no portal e se manter atualizados sobre todas as atividades da turma.</li>
            <li>Os alunos podem ver os avisos dados pelo professor na opção Aviso de Turma.</li>
            <li>Os alunos podem baixar suas tarefas na opção Tarefas e também enviá-las lá. (Uma vez que a tarefa é enviada, não pode ser alterada posteriormente.)</li>
            <li>Os alunos podem contatar qualquer professor através da opção mensagem na Lista de Todos os Professores.</li>
            <li>Os alunos podem verificar suas notas na opção Notas.</li>
            <li>O usuário pode adicionar uma foto de perfil através da opção editar perfil.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="research">
  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'images/mastery-based-education.PNG' %}" alt="">
    </div>
    <div class="col-md-8">
      <div class="digital-content">
        <h2>Aprendizado Digital</h2>
        <br>
        <p>Realizamos uma pesquisa com mais de 16.000 professores e administradores para entender melhor o estado do aprendizado digital. O Gerenciador de Turmas oferece todas as facilidades necessárias para aprimorar o aprendizado digital.</p>
      </div>
    </div>
  </div>
</div>

<div class="social">
  <h1>Está pronto para avançar no que é possível na educação?</h1>
  <h3>Então, conecte-se conosco nas redes sociais.</h3>
  <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
  <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
  <a class="social-icon" href="#"><i class="fab fa-instagram"></i></a>
  <a class="social-icon" href="#"><i class="fab fa-google"></i></a>
  <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
</div>

{% endblock %}
