{% extends "classroom/base.html" %}
{% load static %}
{% block content %}

<div class="student-list">
  <div class="container">
    {% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <form method='GET' action="{% url 'classroom:students_list' %}" class="searchme">
      <p>Buscar Estudante: <input type='search' name='q' placeholder='Buscar'></p>
    </form>
    <div class="row">
      {% for student in students_list %}
      <div class="col-6 col-md-4">
        <div class="student-box">
          <div class="imgBx">
            {% if student.student_profile_pic %}
            <img src="{{ student.student_profile_pic.url }}" alt="">
            {% else %}
            {% if forloop.counter0|divisibleby:"2" %}
            <img src="{% static 'images/login-avatar.PNG' %}" alt="">
            {% else %}
            <img src="{% static 'images/login-avatar-2.PNG' %}" alt="">
            {% endif %}
            {% endif %}
          </div>
          <div class="content">
            <h3>{{ student.name }}</h3>
            <p><i class="far fa-user"></i> Nome de Usuário: {{ student.user.username }}</p>
            <p><i class="fal fa-user-tag"></i> Número de Registro: {{ student.roll_no }}</p>
            <p><i class="far fa-phone"></i> Telefone: {{ student.phone }}</p>
            <p><i class="far fa-envelope-open-text"></i> E-mail: {{ student.email }}</p>
            <a href="{% url 'classroom:add_student' pk=student.pk %}"><p class="add-button">ADICIONAR</p></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!--
<div class="jumbotron">

  <h1>Lista de todos os estudantes.</h1>
  <h3>Selecione todos os estudantes que você deseja adicionar à sua turma.</h3>
  <form method='GET' action="{% url 'classroom:students_list' %}">
    <input type='search' name='q' placeholder='Buscar'>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Número de Registro</th>
        <th scope="col">Nome</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for student in students_list %}
      <tr>
        <th>{{ student.roll_no }}</th>
        <th>{{ student.name }}</th>
        <th><a class="btn btn-primary" href="{% url 'classroom:add_student' pk=student.pk %}">ADICIONAR</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
-->

{% endblock %}
