{% extends "classroom/base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    {% if student.marks.count == 0 %}
    <h2>Nenhuma nota foi publicada ainda!</h2>
    {% else %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nº</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Nome do Professor</th>
          <th scope="col">Nota Obtida</th>
          <th scope="col">Nota Máxima</th>
        </tr>
      </thead>
      <tbody>
        {% for object in student.marks.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ object.subject_name }}</td>
          <td>{{ object.teacher.name }}</td>
          <td>{{ object.marks_obtained }}</td>
          <td>{{ object.maximum_marks }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}
