{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    {% if profile_updated %}
      <h1>Seu perfil foi atualizado com sucesso.</h1>
    {% else %}
      <h1>Atualizar Perfil</h1>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary" type="submit" name="" value="Enviar">
      </form>
    {% endif %}
  </div>
</div>

{% endblock %}
